name: Build and Deploy
on:
  push:
    branches:
      - "master"
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    concurrency: ci-${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Setup Dependencies
        run: |
          pip install -r scorer/requirements.txt

      - uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: "5.34"
          install-modules: |
            Math::Round
            YAML

      - name: Test
        run: |
          python -m scorer -t tests input/config.yaml

      - name: Build
        run: |
          python -m scorer -w build input/config.yaml

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: build
